.addTask-container {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    height: calc(100vh - 96px);
    position: relative;
    margin-left: 232px;
}

.addTask-container h1 {
    font-size: 61px;
    width: 278px;
}

.addTask-header {
    padding: 50px;
}

.addTask-footer-generated {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 50px;
    /* margin-top: -300px; */
}

.addTask-footer-left {
    display: flex;
}

.addTask-footer-left p {
    color: red;
    font-size: 16px;
}

.addTask-footer-left h2 {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.addTask-footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.addTask-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.clear-addTask-button h2 {
    font-size: 21px;
    font-weight: normal;
    color: rgba(42, 54, 71);
}

.clear-addTask-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 126px;
    height: 57px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: none;
    cursor: pointer;
}

.clear-addTask-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-color: rgba(41, 171, 226);
}

.clear-addTask-button:hover h2 {
    color: rgba(41, 171, 226);
}

.clear-addTask-button:hover .clear-addTask-icon path {
    stroke: rgba(41, 171, 226);
}

.create-addTask-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 54, 71, 1);
    width: 214px;
    height: 57px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.create-addTask-button h2 {
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.create-addTask-button:hover {
    background-color: rgba(41, 171, 226);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.create-addTask-icon {
    width: 24px;
    height: 24px;
}

.task-created-popup {
    position: fixed;
    bottom: -100px;
    /* Start außerhalb des Bildschirms */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(42, 54, 71, 0.95);
    color: white;
    padding: 16px 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease-in-out;
    z-index: 1000;
    opacity: 0;
    /* Unsichtbar starten */
}

.task-created-popup.show {
    bottom: 50%;
    /* Position in der Mitte */
    opacity: 1;
    /* Sichtbar */
}

.task-created-icon {
    width: 24px;
    height: 24px;
}

.addTask-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 440px;
}

.addTask-vertical-line {
    padding: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
}

.addTask-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 440px;
}

.addTask-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 16px;
    /* padding: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    width: 1200px;
}

.addTask-content h2 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 8px;
}

.addTask-prio-field h2 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: unset;
    margin-right: 8px;
}


.addTask-content p {
    color: red;
}

.addTask-title {
    display: flex;
    flex-direction: column;
}

.addTask-title-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-title-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 4px;
    margin-bottom: 12px;
    cursor: pointer;
}

.addTask-title-field:focus {
    outline: none;
}

.addTask-title-field[data-focused="true"]:invalid {
    border-color: red;
}

.addTask-title-field[data-focused="true"]:valid {
    border-color: green;
}


.addTask-description-header {
    /* display: flex; */
    padding-bottom: 8px;
}

.addTask-description-field {
    width: 440px;
    height: 120px;
    font-size: 20px;
    line-height: 24px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    gap: 10px;
    margin-bottom: 12px;
    font-family: 'inter';
    cursor: pointer;
}

.addTask-assignedTo-container {
    position: relative;
}

.addTask-assignedTo-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 16px;
    appearance: none;
    cursor: pointer;
    background-color: white;
}

.addTask-assignedTo-field:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-assignedTo-contactList {
    position: absolute;
    top: 50px;
    width: 440px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    z-index: 100;
    display: none;
}

.contact-list-scrollable {
    max-height: 250px;
    /* Passt die Scrollhöhe an */
    overflow-y: auto;
    /* Setzt das Scrollen für die Liste */
    padding: 5px 0;
    width: 100%;
}

.addTask-assignedTo-field.open+.addTask-assignedTo-contactList {
    display: block;
    /* Zeige die Kontaktliste, wenn das Dropdown geöffnet ist */
}

.addTask-contact-search {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    border-radius: 10px;
}

.contact-item:hover {
    background-color: #f0f0f0;
}

#contactList .contact-item.selected {
    background-color: rgb(42, 54, 71);
    color: white;
}

.contact-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
}

.contact-name {
    flex: 1;
    font-size: 16px;
}

/* Standard-Checkbox verstecken */
.contact-checkbox {
    appearance: none; /* Entfernt die Standarddarstellung */
    -webkit-appearance: none; /* Für Safari */
    -moz-appearance: none; /* Für Firefox */
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background-color: white;
}

/* Wenn die Checkbox aktiviert ist */
.contact-checkbox:checked {
    border-color: white;
    background-color:rgb(42,54,71);
}

/* Das Häkchen selbst */
.contact-checkbox:checked::after {
    content: "✔";
    position: absolute;
    top: -12px;
    left: 2px;
    color: white; /* Hakenfarbe */
    font-size: 23px;
}

/* Wenn die Checkbox nicht aktiviert ist */
.contact-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 16px;
}

.addTask-assignedTo-icon-wrapper {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
    transform: translateY(-50%) rotate(0deg);
    z-index: 10;
}

.addTask-assignedTo-mainField {
    margin: 0;
    padding: 0;
    position: relative;
}

.addTask-assignedTo-icon-wrapper:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.addTask-assignedTo-field.open+.addTask-assignedTo-icon-wrapper {
    transform: translateY(-50%) rotate(180deg);
}

.addTask-assignedTo-icon {
    width: 7.21px;
    height: 4.6px;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
}

.addTask-assignedTo-icon-wrapper.rotated {
    transform: translateY(-50%) rotate(180deg);
}

.selected-contacts {
    display: flex;
    padding-top: 8px;
}

.contact-item.selected {
    background-color: rgb(42, 54, 71); /* Grau */
}

.addTask-prio {
    margin-bottom: 12px;
}

.addTask-prio-header {
    padding-bottom: 8px;
}

.addTask-prio-field {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addTask-prio-button {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTask-prio-button:not(.urgent-active):not(.middle-active):not(.low-active):hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.urgent-active {
    background-color: red;
    color: white;
}

.middle-active {
    background-color: rgba(255, 168, 0, 1);
    color: white;
}

.low-active {
    background-color: rgba(122, 226, 41, 1);
    color: white;
}

.addTask-dueDate {
    display: flex;
    flex-direction: column;
}

.addTask-dueDate-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-dueDate-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 10;
}

.addTask-dueDate-field input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    padding-right: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.addTask-date-icon {
    position: absolute;
    width: 18px;
    height: 20px;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.addTask-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.addTask-category-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-category-container {
    position: relative;
}

.addTask-category-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    /* padding: 12px 16px; */
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
}

.addTask-category-field:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-category-icon-wrapper {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
}

.addTask-category-icon-wrapper:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.addTask-category-field:focus+.addTask-category-icon-wrapper,
.addTask-category-field.open+.addTask-category-icon-wrapper {
    transform: translateY(-50%) rotate(180deg);
}

.addTask-category-icon {
    width: 7.21px;
    height: 4.6px;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
}

.addTask-category-dropdown {
    position: absolute;
    top: 100%;
    width: 440px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    background-color: white;
    z-index: 10;
    display: none;
}

.addTask-category-dropdown .category-item {
    padding: 8px 16px;
    cursor: pointer;
}

.addTask-category-dropdown .category-item:hover {
    background-color: rgba(240, 240, 240, 1);
}

.category-item {
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
}

.category-item:hover {
    background-color: #f0f0f0;
}

.addTask-subtasks {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.addTask-subtasks-field {
    position: relative;
    width: 440px;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.addTask-subtasks-content {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    height: 100%;
    padding-left: 16px;
    padding-right: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.addTask-subtasks-vertical-line {
    padding: 1px;
    height: 24px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
}

.addTask-subtasks-icon-add {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    fill: #2A3647;
    transition: background-color 0.3s, fill 0.3s;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.addTask-subtasks-icon-add:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.cancel-addTask-icon,
.create-addTask-icon {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, fill 0.3s;
}

.cancel-addTask-icon:hover,
.create-addTask-icon:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.addTask-icons-input {
    display: none;
}

.addTask-icons-input.active {
    display: flex;
    gap: 2px;
    padding-right: 20px;
}

.addTask-subtasks-icon-add.hidden {
    display: none;
}

.subtasks-list {
    padding-inline-start: 0px;
}

.subtasks-list li {
    position: relative;
    padding-left: 24px;
    margin: 8px 0;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.subtasks-list li::before {
    content: "•";
    position: absolute;
    left: 8px;
    font-size: 16px;
    line-height: 40px;
    color: black;
}

.subtasks-list li:hover {
    background-color: rgba(238, 238, 238, 1);
}

.subtask-buttons {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    display: contents;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtask-detail-buttons {
    display: none;
    align-items: center;
    gap: 4px;
    padding-right: 20px;
}

.subtasks-list li:hover .subtask-detail-buttons {
    display: flex;
    padding-right: 8px;
}

.addTask-subtasks-detail-vertical-line {
    padding: 1px;
    height: 24px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
}

#editSubtaskInput {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 0 8px;
    border: none;
    outline: none;
    background: none;
}

.subtask-edit-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: 2px solid lightblue;
    padding: 0 12px;
}

.subtasks-list li.editing::before {
    content: none;
}

.subtasks-list li.editing {
    padding-left: 0;
}

.edit-subtask-icon,
.delete-subtask-icon {
    position: relative;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.edit-subtask-icon:hover,
.delete-subtask-icon:hover {
    transform: translateY(2px);
}