.addTask-container {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    height: calc(100vh - 96px);
    position: relative;
    margin-left: 232px;
}

.addTask-container h1 {
    font-size: 61px;
    width: 278px;
}

.addTask-header {
    padding: 50px;
}

.addTask-footer-generated {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 50px;
    margin-top: -300px;
}

.addTask-footer-left {
    display: flex;
}

.addTask-footer-left p {
    color: red;
    font-size: 16px;
}

.addTask-footer-left h2 {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.addTask-footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; 
}

.addTask-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.clear-addTask-button h2 {
    font-size: 21px;
    font-weight: normal;
    color: rgba(42, 54, 71);
}

.clear-addTask-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 126px;
    height: 57px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: none;
    cursor: pointer;
}

.clear-addTask-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-color: rgba(41, 171, 226);
}

.clear-addTask-button:hover h2 {
    color: rgba(41, 171, 226);
}

.clear-addTask-button:hover .clear-addTask-icon path {
    stroke: rgba(41, 171, 226);
}

.create-addTask-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 54, 71, 1);
    width: 214px;
    height: 57px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.create-addTask-button h2 {
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.create-addTask-button:hover {
    background-color: rgba(41, 171, 226);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.create-addTask-icon {
    width: 24px;
    height: 24px;
}

.addTask-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 440px;
}

.addTask-vertical-line {
    padding: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
}

.addTask-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 440px;
}

.addTask-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 16px;
    padding: 50px;
    width: 1200px;
}

.addTask-content h2 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 8px;
}

.addTask-content p {
    color: red;
}

.addTask-title {
    display: flex;
    flex-direction: column;
}

.addTask-title-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-title-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 4px;
    margin-bottom: 12px;
    cursor: pointer;
}

.addTask-description-header {
    /* display: flex; */
    padding-bottom: 8px;
}

.addTask-description-field {
    width: 440px;
    height: 120px;
    font-size: 20px;
    line-height: 24px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    gap: 10px;
    margin-bottom: 12px;
    font-family: 'inter';
    cursor: pointer;
}

.addTask-assignedTo-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 16px;
    appearance: none;
    cursor: pointer;
}

.addTask-assignedTo-field:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-assignedTo-container {
    position: relative;
}

.addTask-assignedTo-icon {
    position: absolute;
    width: 7.21px;
    height: 4.6px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    cursor: pointer;
    z-index: 1;
}

.addTask-assignedTo-field:focus+.addTask-assignedTo-icon,
.addTask-assignedTo-field.open+.addTask-assignedTo-icon {
    transform: translateY(-50%) rotate(180deg);
}

.addTask-prio {
    margin-bottom: 12px;
}

.addTask-prio-header {
    padding-bottom: 8px;
}

.addTask-prio-field {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addTask-prio-button {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

.addTask-prio-button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-dueDate {
    display: flex;
    flex-direction: column;
}

.addTask-dueDate-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-dueDate-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    background-color: white;
}

.addTask-dueDate-field input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    padding-right: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.addTask-date-icon {
    position: absolute;
    width: 18px;
    height: 20px;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.addTask-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.addTask-category-header {
    display: flex;
    padding-bottom: 8px;
}

.addTask-category-container {
    position: relative;
}

.addTask-category-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 16px;
    appearance: none;
    cursor: pointer;
}

.addTask-category-field:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-category-icon {
    position: absolute;
    width: 7.21px;
    height: 4.6px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    cursor: pointer;
    z-index: 1;
}

.addTask-category-field:focus+.addTask-category-icon,
.addTask-category-field.open+.addTask-category-icon {
    transform: translateY(-50%) rotate(180deg);
}

.addTask-subtasks {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.addTask-subtasks-field {
    position: relative;
    width: 440px;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding-left: 16px;
    background-color: #fff;
    cursor: pointer;
}

.addTask-subtasks-content {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    height: 100%;
    padding-right: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.addTask-subtasks-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    fill: #2A3647;
    transition: fill 0.3s;
}

