.addTask-container {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    height: calc(100vh - 96px);
    margin-left: 232px;
    position: relative;
}

.addTask-container {
    width: 456px;
    margin-left: 232px;
    position: relative;
}

.addTask-container h1 {
    font-size: 61px;
    width: 278px;
}

.addTask-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addTask-vertical-line {
    width: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
}

.addTask-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addTask-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 50px;
}

.addTask-content h2 {
    font-size: 20px;
    font-weight: normal;
}

.addTask-content p {
    color: red;
}

.addTask-title {
    display: flex;
    flex-direction: column;
}

.addTask-title-header {
    display: flex;
}

.addTask-title-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    gap: 4px;
    margin-bottom: 12px;
}

.addTask-description-field {
    width: 440px;
    height: 120px;
    font-size: 20px;
    line-height:24px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    gap: 10px;
    margin-bottom: 12px;
    font-family: 'inter';
}

.addTask-assignedTo-field {
    width: 440px;
    height: 48px;
    font-size: 20px;
    border-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.addTask-dueDate {
    display: flex;
}

.addTask-category {
    display: flex;
}

.addTask-header {
    padding: 50px;
}

footer {
    padding: 50px;
}

.footer-left {
    display: flex;
}

.footer-left p {
    color: red;
    font-size: 16px;
}

.footer-left h2 {
    font-size: 16px;
    font-weight: normal;
}