header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 348px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 20px;
  font-weight: normal;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.help {
  width: 32px;
  height: 32px;
}

.initals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 3px solid #2a3647;
  border-radius: 100%;
}

.initals a {
  color: #29abe2;
  font-size: 24px;
  font-weight: bold;
}
